<footer class="padding-sec">
  <a href="https://www.linkedin.com/in/kyan-gijtenbeek-7063791a7/?originalSubdomain=nl">
    <img src="/assets/linkedin-orange.svg" alt="logo linkedin">
  </a>

  <a href="https://www.instagram.com/kyan.gijtenbeek/">
    <img src="/assets/instagram-orange.svg" alt="logo instagram">
  </a>

  <a href="https://github.com/KyanTG">
    <img src="/assets/github-orange.svg" alt="logo github">
  </a>

  <a href="mailto:kgijtenbeek@gmail.com">
    <img src="/assets/gmail-orange.svg" alt="logo gmail">
  </a>
</footer>