<body>
  <header>
    <div class="hamburger-class">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>    
      </div>
    </div>
   
    <nav>
      <ul>
        <li>
          <a href="/">Homepage</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/">Checkout</a>
        </li>
        <li>
          <a href="../extras/extras.html">Extras</a>
        </li>
      </ul>
    </nav>
  </header>