<body>
  <header>
    {% comment %} <div class="hamburger-class">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>    
      </div>
    </div> {% endcomment %}
   
    <button class="menu" aria-label="MainNav" tabindex="0">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/voortgang">Voortgang</a>
        </li>
      </ul>
    </nav>
</header>