<body>
  <header>
    <button class="menu" aria-label="MainNav" tabindex="0">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          {% comment %} <a href="/">Ervaring</a> {% endcomment %}
        </li>
      </ul>
    </nav>
</header>