<body>
  <header>
    {% comment %} <div class="hamburger-class">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>    
      </div>
    </div> {% endcomment %}
   
    <div class="menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/">Homepage</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/voortgang">Voortgang</a>
        </li>
        <li>
          <a href="/extras">Extras</a>
        </li>
      </ul>
    </nav>
</header>