<body>
  <header>
    <div class="hamburger-class">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>    
      </div>
    </div>
   
    <nav>
      <ul>
        <li>
          <a href="../portfolio/portfolio.html">Portfolio</a>
        </li>
        <li>
          <a href="../voortgang/voortgangpage.html">Checkout</a>
        </li>
        <li>
          <a href="../extras/extras.html">Extras</a>
        </li>
      </ul>
    </nav>
  </header>