header {
    position: sticky;
    overflow-x: hidden;
    top:0;
    z-index: 10; 
    background-color: var(--main-color-normal);
    height: 15vw;

    @media ( min-width: 960px ) {
        height: 25vw;
        background-color: none;
        position: unset;
    }
    
    nav {
        width: 40%;
        background-color: var(--main-color-normal);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        translate: 100% ;
        transition: 0.2s ease-in;
        padding-top: 100px;
        margin-left: auto;
        border-left: 5px solid var(--secondary-color-light); 

        @media ( min-width: 960px ) {
            border: none;
            position: unset;
            padding-top: 40px;
            height: 50px;
            width: 100%;
            translate: 0%;
        }
    }

    .nav-open {
        translate: 0%; 
    }

    ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column; 
        margin-left: 16px ;
        row-gap: 40px;

        @media ( min-width: 960px) {
            border: 0.3vw solid var(--secondary-color-light);
            padding-block: 20px;
            border-radius: 100px 0px 0px 100px;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            column-gap: 30px;
            width: 500px;
            margin-left: auto;
            margin-right: -1%;
        }

        li {
            list-style: none; 
        }

        li:nth-of-type(3) {
            @media ( min-width: 960px ) {
                color: var(--main-color-normal);
                background-color: var(--secondary-color-light);
                padding-inline: 14px;
                padding-block: 25px;
                border-radius: 100%;
            }
        }

        li:nth-of-type(2) {
            @media ( min-width: 960px ) {
                color: var(--main-color-normal);
                background-color: var(--secondary-color-light);
                padding-inline: 12px;
                padding-block: 37.5px;
                border-radius: 100%;
            }
        }

        li:nth-of-type(1) {
            @media ( min-width: 960px ) {
                color: var(--main-color-normal);
                background-color: var(--secondary-color-light);
                padding-inline: 30px;
                padding-block: 50px;
                border-radius: 100%;
            }
        }

        a {
            color: var(--secondary-color-light);
            text-decoration: none;

            @media ( min-width: 960px ) {
                color: var(--main-color-normal);
            }
        }
    }
}

.hamburger-class {
    padding-right: 16px;
    padding-top: 16px; 
    padding-bottom: 40px;

    @media ( min-width: 960px ) {
        display: none;
    }

    .hamburger {
        z-index: 9;
        position: relative;
        width: 42px;
        height: 32px;
        cursor: pointer; 
        margin-left: auto; 
    }

    .hamburger span {
        position: absolute;
        width: 50%;
        height: 6px;
        background: var(--secondary-color-light);
        transition: all 0.2s ease-in-out; 
    }
}