* {
    margin: 0;
    padding: 0; }
    
 html {
    background-color: beige;
    height: 100vh; }

 /* @font-face {
    font-family: 'HelemaalMooiFont' ;
    src: url("HelemaalMooiFont.otf") format("opentype"); } */

 body {
  font-family: "HelemaalMooiFont"; }

  header {
    position: sticky;
    top:0;
    background-color: transparent;
    z-index: 10; 
    padding: 16px;
    
    nav {
        width: 300px;
        background-color: black;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        translate: -100% ;
        transition: 0.1s;
        padding-top: 100px; } }

    .nav-open {
        
        translate: 0% !important; }

    ul {
        display: flex;
        align-items: center;
        flex-direction: column; 
        row-gap: 30px;}
        
        li {
            list-style: none; }

.hamburger-class {
    padding-right: 30px;
    padding-top: 30px; }     

    .hamburger    {
        position: relative;
        width: 42px;
        height: 32px;
        cursor: pointer; 
        margin-left: auto; }

        .hamburger span {
            position: absolute;
            width: 50%;
            height: 6px;
            background: black;
            transition: all 0.2s ease-in-out; }
        
        .hamburger span:nth-child(odd) {
            left: 0;
            border-radius: 9px 0 0 9px; }
        
        .hamburger span:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0; }
        
        .hamburger span:nth-child(1), .hamburger span:nth-child(2) {
            top:0; }
        
        .hamburger span:nth-child(3), .hamburger span:nth-child(4) {
            top:13px; }   
            
        .hamburger span:nth-child(5), .hamburger span:nth-child(6) {
            top:26px; }  
            
        .hamburger-open .hamburger span:nth-child(1), .hamburger-open .hamburger span:nth-child(6) {
            transform: rotate(45deg); }
        
        .hamburger-open .hamburger span:nth-child(2), .hamburger-open .hamburger span:nth-child(5) {
            transform: rotate(-45deg); }  
        
        .hamburger-open .hamburger span:nth-child(1) {
            top: 8px;
            left: 5px; }
        
        .hamburger-open .hamburger span:nth-child(2) {
            top: 8px;
            left: calc(50% - 5px); }
        
        .hamburger-open .hamburger span:nth-child(3) {
            left: calc(-100% - 5px); 
            opacity: 0; }
        
        .hamburger-open .hamburger span:nth-child(4) { 
            left: 150%;
            opacity: 0; }
        
        .hamburger-open .hamburger span:nth-child(5) { 
            top: 19px;
            left: 5px; }
        
        .hamburger-open .hamburger span:nth-child(6) { 
            top: 19px;
            left: calc(50% - 5px); }

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 48px;}
    
h1 {
    font-size: 96px;
    font-weight: bold;
    color:darkblue ; }

h2 {
    font-size: 48px;
    font-weight: bold;
    color:darkblue ; }

h3 {
    font-size: 32px;
    color: darkblue; }

    p {
      
        text-align: center;
        max-width: 800px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color:darkblue ; }

a {
    font-size: 24px;
    font-weight: bold;
    color:darkblue ; }


