html {
 background-color: beige;
 height: 100vh; }

 @font-face {
    font-family: 'HelemaalMooiFont' ;
    src: url("HelemaalMooiFont.otf") format("opentype");
}

 body {
  font-family: "HelemaalMooiFont";
 }

header {
 display:flex;
 justify-content: center; }

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 48px;}
h1 {
    font-size: 96px;
    font-weight: bold;
    color:darkblue ; }

h2 {
    font-size: 48px;
    font-weight: bold;
    color:darkblue ; }

h3 {
    font-size: 32px;
    color: darkblue; }

    p {
      
        text-align: center;
        max-width: 800px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color:darkblue ; }

a {
    font-size: 24px;
    font-weight: bold;
    color:darkblue ; }


