{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}
  
<section class="personal">
  <h1 id="home-typer">Kyan Gijtenbeek</h1>
  <h2 id="home-typer-h2">student frontend design & development</h2>
</section>
  

<footer>
  <a href="https://www.linkedin.com/in/kyan-gijtenbeek-7063791a7/?originalSubdomain=nl">
    <img src="/assets/linkedin-orange.svg" alt="logo linkedin">
  </a>

  <a href="https://www.instagram.com/kyan.gijtenbeek/">
    <img src="/assets/instagram-orange.svg" alt="logo instagram">
  </a>
</footer>
</body>
</html>