{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}
  
  <section class="personal">
    <div>
      <h1>Kyan Gijtenbeek</h1>
      <h2>student frontend design & development</h2>
    </div>
  </section>
  
  <section class="information">
    <div>
      <h2>Information about me</h2>
      <p>My name is Kyan Gijtenbeek, a 21 year old FDND student on the HVA. All my live i have been interested in design, websites and animations! I already finished a study in Graphic Design, my dream is to become a <br><u>self-employed Creative Developer!</u></p>
    </div>
    <div>
      <h2>Skills</h2>
      <p>On this study we started out with learning HTML, CSS, Javascript and Figma. We already have used our current skillset with real life clients, I have made an homepage voor DDA vacatures and for Informaat. You can visit my portfolio to see it!</p>
      <a href="portfolio.html">Portfolio</a>
    </div>
  </section>

  <footer>
    <a href="https://www.linkedin.com/in/kyan-gijtenbeek-7063791a7/?originalSubdomain=nl">
      <img src="../content/linkedin-orange.svg" alt="logo linkedin">
    </a>

    <a href="https://www.instagram.com/kyan.gijtenbeek/">
      <img src="../content/instagram-orange.svg" alt="logo instagram">
    </a>
  </footer>
</body>
</html>