{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}
  
<section class="personal">
  <h1 id="home-typer">Kyan Gijtenbeek</h1>
  <h2 id="home-typer-h2">student frontend design & development</h2>
</section>
  
<section class="information">
  <article class="block-me">
    <p>Ik ben Kyan Gijtenbeek ik ben een 22 jarige student op de opleiding Frontend Design & Development, hiervoor heb ik een studie gedaan op het Roc Midden Nederland als Mediavormgever.</p>
  </article>
  <article class="block-me-two">
    <p>Mijn passie ligt bij het maken van gebruiksvriendelijke, responsive websites die creatief zijn gemaakt met leuke ( en complexe ) animaties, ook is dit iets waar ik in wil doorgroeien.</p>
  </article>
  <article class="block-me-three">
    <p>Mijn skills zijn: HTML / Liquid, CSS, Javascript / Server JS, API's en Figma</p>
  </article>
</section>

<footer>
  <a href="https://www.linkedin.com/in/kyan-gijtenbeek-7063791a7/?originalSubdomain=nl">
    <img src="/assets/linkedin-orange.svg" alt="logo linkedin">
  </a>

  <a href="https://www.instagram.com/kyan.gijtenbeek/">
    <img src="/assets/instagram-orange.svg" alt="logo instagram">
  </a>
</footer>
</body>
</html>