{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}
  
<section class="personal">
  <h1 class="home-typer-h1 h1-typer-style">Kyan Gijtenbeek</h1>
  <h2 class="home-typer-h2 h2-typer-style ">student frontend design & development</h2>
</section>
  

<section class="horizontal-scroll-sec">

  <article class="article-style info-me">
    <img id="foto-kyan" src="/assets/background-clear-me.png" alt="foto kyan gijtenbeek">
    <article id="article-kyan">
      <h2 class="header-article">Kyan Gijtenbeek</h2>
      <h3 class="subheader-article">Student</h3>
    </article>
  </article>

  <article class="article-style">
    <p class="article-tekst">Ik ben tweedejaarsstudent Frontend Design & Development aan de HvA en heb een afgeronde vooropleiding als mediavormgever.</p>
  </article>

  <article class="article-style">
    <p class="article-tekst">Ik ben een creatieve maker die graag nieuwe ideeën uitwerkt. Professioneel, leergierig en productief, en ik werk graag samen om tot het beste resultaat te komen.</p>
  </article>

  <article class="article-style">
    <p class="article-tekst">Ik werk dagelijks met HTML, CSS en JavaScript, en gebruik tools en frameworks zoals Figma, Liquid, API’s, JSON en SvelteKit.</p>
  </article>

  <article class="article-style">
    <p class="article-tekst">Wil je mijn projecten ontdekken? Klik hier om mijn portfolio te bekijken.</p>
  </article>

</section>

<footer>
  <a href="https://www.linkedin.com/in/kyan-gijtenbeek-7063791a7/?originalSubdomain=nl">
    <img src="/assets/linkedin-orange.svg" alt="logo linkedin">
  </a>

  <a href="https://www.instagram.com/kyan.gijtenbeek/">
    <img src="/assets/instagram-orange.svg" alt="logo instagram">
  </a>

  <a href="https://github.com/KyanTG">
    <img src="/assets/github-orange.svg" alt="logo github">
  </a>

  <a href="mailto:kgijtenbeek@gmail.com">
    <img src="/assets/gmail-orange.svg" alt="logo gmail">
  </a>
</footer>
</body>
</html>