{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}
  
<section class="personal">
  <h1 class="home-typer-h1 h1-typer-style">Kyan Gijtenbeek</h1>
  <h2 class="home-typer-h2 h2-typer-style ">student frontend design & development</h2>
</section>
  
<section class="test-room"></section>

<div class="scroll-wrap">
<section class="horizontal-scroll-sec">

  <article class="article-style info-me">
    <img id="foto-kyan" src="/assets/background-clear-me.png" alt="foto kyan gijtenbeek">
    <article id="article-kyan">
      <h2 class="header-article">Kyan Gijtenbeek</h2>
    </article>
  </article>

  <article class="article-style">
    <p class="article-tekst">Als tweedejaars Frontend Design & Development student aan de HvA ontdek ik de nieuwste webontwikkelingen en zet ze direct om in praktijkervaring.</p>
  </article>

  <article class="article-style">
    <p class="article-tekst">Creativiteit is mijn drijfveer: ik werk graag zelfstandig nieuwe ideeën uit en haal energie uit samenwerking om ze verder te versterken.</p>
  </article>

  <article class="article-style">
    <p class="article-tekst">Dagelijks werk ik met <strong>HTML</strong>, <strong>CSS</strong> en <strong>JavaScript</strong> en zet ik tools en frameworks in zoals <strong>Figma</strong>, <strong>Liquid</strong>, <strong>API’s</strong>, <strong>JSON</strong> en <strong>SvelteKit</strong> om mijn ideeën tot leven te brengen.</p>
  </article>

  <article class="article-style">
    <p class="article-tekst article-portfolio-tekst">Benieuwd naar wat ik al gemaakt heb?</p>
    <a id="article-portfolio-link" href="/portfolio">Bekijk mijn portfolio!</a>
  </article>

</section>
</div>

<footer>
  <a href="https://www.linkedin.com/in/kyan-gijtenbeek-7063791a7/?originalSubdomain=nl">
    <img src="/assets/linkedin-orange.svg" alt="logo linkedin">
  </a>

  <a href="https://www.instagram.com/kyan.gijtenbeek/">
    <img src="/assets/instagram-orange.svg" alt="logo instagram">
  </a>

  <a href="https://github.com/KyanTG">
    <img src="/assets/github-orange.svg" alt="logo github">
  </a>

  <a href="mailto:kgijtenbeek@gmail.com">
    <img src="/assets/gmail-orange.svg" alt="logo gmail">
  </a>
</footer>
</body>
</html>