{% render 'partials/head.liquid' %}

{% render 'partials/header-portfolio.liquid' %}

<section class="info-portfolio padding-sec">
    <h1>Informaat</h1>
    <h3>Schoolproject waar de focus lag op responsiveness zodat het op elk device goed te gebruiken is. Voor dit project heb ik gebruik gemaakt van Figma, HTML, CSS en Javascript.</h3>

    <article class="project-pictures">
        <picture class="mobile-pictures"></picture>
        <picture class="tablet-pictures"></picture>
        <picture class="desktop-pictures"></picture>
    </article>
</section>