{% render 'partials/head.liquid'%}

{% render 'partials/header-portfolio.liquid' %}

<section>
    <h2>Coming soon</h2>
</section>

<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>