{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}

<section class="portfolio">
  <h1 id="portfolio-typewriter">portfolio</h1>
</section>




{% comment %} hiermee kan je automatisch artikels maken die uitklappen met informatie met een show more en daarin een show lesss button. {% endcomment %}

{% comment %} <article class="show-more-article">
  <h2>Sprint 1</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dolor repellendus incidunt facilis nulla iste, placeat natus temporibus architecto culpa ea corrupti a odio. Repellendus, animi! Corrupti non modi voluptates.</p>
  <button class="show-more styled-btn">show more
    <div></div>
  </button>
</article> {% endcomment %}