{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}

<section class="portfolio">
  <h1 class="portfolio-typer-h1 h1-typer-style">portfolio</h1>
  <h2 class="portfolio-info">Welkom op mijn portfolio! Hier zijn al mijn tot nu toe gemaakte projecten te zien.</h2>
</section>



<section class="portfolio-showcase">
  
  <article class="informaat article-portfolio">
    <div class="portfolio-img-wrapper">
      <img class="logo" src="assets/logo-informaat.svg" alt="logo van informaat" loading="lazy">
    </div>
    {% comment %} <p>Website ontworpen & ontwikkeld met Figma, HTML, CSS en Javascript.</p> {% endcomment %}
    <nav class="link-nav">
      <a class="link-style" href="/informaat">meer informatie</a>
      <a class="link-style" href="https://kyantg.github.io/the-startup-responsive-interactive-website/Informaat/informaat.html">website link</a>
      <a class="link-style" href="https://github.com/KyanTG/the-startup-responsive-interactive-website">github link</a>
    </nav>
  </article>

  <article class="mediahuis article-portfolio">
    <div class="portfolio-img-wrapper">
      <img class="logo-veronica logo" src="/assets/logo-veronica.svg" alt="logo van radio veronica" loading="lazy">
    </div>
    <nav class="link-nav">
      <a class="link-style" href="/mediahuis">meer informatie</a>
      <a class="link-style" href="https://pleasurable-ui-1yqs.onrender.com/radio-veronica">website link</a>
      <a class="link-style" href="https://github.com/ArmanVD/pleasurable-ui">github link</a>
    </nav>
  </article>

  <article class="embassy-of-the-free-mind article-portfolio">
    <div class="portfolio-img-wrapper">
      <img class="logo-embassy-of-the-free-mind logo" src="/assets/logo-embassy-of-the-free-mind.png" alt="logo van embassy of the free mind" loading="lazy">
    </div>
    <nav class="link-nav">
      <a class="link-style" href="/embassy-of-the-free-mind">meer informatie</a>
      <a class="link-style" href="https://proof-of-concept-cu3y.onrender.com/">website link</a>
      <a class="link-style" href="https://github.com/KyanTG/proof-of-concept">github link</a>
    </nav>
  </article>

  <article class="oncollaboration article-portfolio">
    <div class="portfolio-img-wrapper">
      <img class="logo-avl logo" src="/assets/logo-avl.svg" alt="logo van avl" loading="lazy">
    </div>
    <nav class="link-nav">
      <a class="link-style" href="/oncollaboration">meer informatie</a>
    </nav>
  </article>
</section>




    {% comment %} <p>In dit project werkte ik voor de opdrachtgever Informaat. Dit was mijn tweede project tijdens mijn eerste studiejaar, maar het eerste waar ik echt trots op ben. Voor deze opdracht ontwikkelde ik een website met HTML, CSS en JavaScript, waarbij de focus lag op responsiveness. Het was een project voor een echte opdrachtgever, waarbij ik mijn eindresultaat ook persoonlijk mocht presenteren op locatie.</p> {% endcomment %}
    {% comment %} <p>In dit project werkte ik voor de opdrachtgever IO Digital, aan een website voor de klant Embassy of the Free Mind. De website moest gebruikers in staat stellen historische boeken te bekijken, informatie over de boeken te lezen en reacties achter te laten. Deze website is ontwikkeld met Liquid, CSS, JavaScript en Node.js.</p> {% endcomment %}
{% comment %} <p>Voor dit project werk ik aan een website voor de opdrachtgever Oncollaboration (AVL Amsterdam). Het platform is bedoeld om Nederlandse en Indonesische radiologen met elkaar te verbinden, zodat zij kennis kunnen uitwisselen. Gebruikers kunnen webinars terugkijken en vragen stellen onder de video’s om interactie te stimuleren.
      De website wordt ontwikkeld in SvelteKit, met gebruik van HTML, CSS, JavaScript en diverse API’s. Ik werk momenteel nog aan dit project; het is het laatste project vóór mijn stage, waardoor professioneel werken en een hoge kwaliteit erg belangrijk zijn.</p> {% endcomment %}