{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}

<section class="portfolio padding-sec">
  <h1 class="portfolio-typer-h1 h1-typer-style">portfolio</h1>
  <h2 class="portfolio-info">Showcase van mijn projecten</h2>
</section>

<section class="portfolio-showcase padding-sec">
  
  <article class="informaat article-portfolio">
    <div class="portfolio-img-wrapper">
      <img class="logo" src="assets/logo-informaat.svg" alt="logo van informaat" loading="lazy">
    </div>

    <nav class="link-nav">
      <a class="link-style" href="/portfolio/informaat">meer informatie</a>
      <a class="link-style" href="https://kyantg.github.io/the-startup-responsive-interactive-website/Informaat/informaat.html" target="_blank">website link</a>
      <a class="link-style" href="https://github.com/KyanTG/the-startup-responsive-interactive-website" target="_blank">github link</a>
    </nav>
  </article>

  <article class="mediahuis article-portfolio">
    <div class="portfolio-img-wrapper">
      <img class="logo-veronica logo" src="/assets/logo-mediahuis.png" alt="logo van mediahuis" loading="lazy">
    </div>
    <nav class="link-nav">
      <a class="link-style" href="/portfolio/mediahuis">meer informatie</a>
      <a class="link-style" href="https://pleasurable-ui-1yqs.onrender.com/radio-veronica" target="_blank">website link</a>
      <a class="link-style" href="https://github.com/ArmanVD/pleasurable-ui" target="_blank">github link</a>
    </nav>
  </article>

  <article class="embassy-of-the-free-mind article-portfolio">
    <div class="portfolio-img-wrapper">
      <img class="logo-embassy-of-the-free-mind logo" src="/assets/logo-embassy-of-the-free-mind.png" alt="logo van embassy of the free mind" loading="lazy">
    </div>
    <nav class="link-nav">
      <a class="link-style" href="/portfolio/embassy-of-the-free-mind">meer informatie</a>
      <a class="link-style" href="https://proof-of-concept-cu3y.onrender.com/" target="_blank">website link</a>
      <a class="link-style" href="https://github.com/KyanTG/proof-of-concept" target="_blank">github link</a>
    </nav>
  </article>

  <article class="oncollaboration article-portfolio">
    <div class="portfolio-img-wrapper">
      <img class="logo-avl logo" src="/assets/logo-avl.svg" alt="logo van avl" loading="lazy">
    </div>
    <nav class="link-nav">
      <a class="link-style" href="/oncollaboration">meer informatie</a>
    </nav>
  </article>
</section>

{% render 'partials/footer.liquid' %}
