{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}

<section class="portfolio">
  <h1 class="portfolio-typewriter h1-typer-style">portfolio</h1>
</section>

<section class="portfolio-showcase">
  <article class="informaat">
    <h2>Informaat</h2>
    <p>Dit was mijn eerste project waar ik aan gewerkt heb tijdens mijn eerste jaar, ik moest een website opzetten met HTML, CSS en javascript en daarbij de focus op responsiveness. Dit was een project met een echte opdrachtgever waar ik ook langsmoest om mijn eindresultaat te presenteren.</p>
    <a href="https://kyantg.github.io/the-startup-responsive-interactive-website/Informaat/informaat.html">link naar de website</a>
    <a href="https://github.com/KyanTG/the-startup-responsive-interactive-website">link naar github</a>
  </article>

  <article class="embassy-of-the-free">
    <h2>Embassy of the free mind</h2>
    <p>In dit project moet ik voor de opdrachtgever IO Digital voor de klant Embassy of the free mind een website opzetten waarin je historische boeken kan bekijken. Hierbij was het belangrijk dat er informatie over het boek stond, dat je het boek kon lezen en dat je een reactie over het boek kon achterlaten. Deze website is gebouwd met Liquid, CSS, Javascript en NodeJS.</p>
    <a href="https://proof-of-concept-cu3y.onrender.com/">Link naar de website</a>
    <a href="https://github.com/KyanTG/proof-of-concept">link naar github project</a>
  </article>

  <article class="oncollaboration">
    <h2>Oncollaboration</h2>
    <p>In dit project moet ik voor de opdrachtgever Oncollaboration ( AVL amsterdam ) een website opzetten waarin Nederlandse en Indonesische radiologen kennis met elkaar kunnen uitwisselen. Hierbij is het belangrijk dat er webinars teruggekeken kunnen worden en dat er vragen gesteld kunnen worden onder de webinars zodat er makkelijk kennis uitgewisseld kan worden. Deze website word gebouwd in Sveltekit, hierbij gebruiken wij HTML CSS Javascript en API's Momenteel ben ik met dit project bezig, dit is ook het laatste project voordat ik stage moet lopen en is het erg belangrijk dat we op professioneel niveau werken zodat we klaar zijn om stage te lopen. </p>
  </article>
</section>




