header {
    position: fixed;
    height: 3.75rem;
    width: 3.75rem;
    z-index: 10; 
    right: 20px;
    top: 20px;
    padding-inline: 20px;
    padding-block: 20px;
    background-color:var(--main-color-normal);
    transition: all 0.3s ease;
    border-radius: 50px;
}

.menu-open header {
    border: 3px solid var(--secondary-color-light);
    height: 8.5rem;
    width: 8.5rem;
}

header nav {
    position: absolute;
    right: 0px;
}

.nav-open {
    display: block;
}

header li {
    display: block;
    position: relative;
    z-index: 9;
    list-style: none;
    color: var(--main-color-normal);
    background: var(--secondary-color-light);
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    transition: transform 0.3s ease; 
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color-normal);
    font-size: 10px;
    letter-spacing: -0.4px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

header li:nth-of-type(1) {
    transform: translate(-20px, 0); 
}

header li:nth-of-type(2) {
    transform: translate(-20px, -60px); 
}

header li:nth-of-type(3) {
    transform: translate(-20px, -120px); 
}

.nav-open li:nth-of-type(1) {
    transform: translate(-100px, 0); 
}

.nav-open li:nth-of-type(2) {
    transform: translate(-100px, 20px); 
}

.nav-open li:nth-of-type(3) {
    transform: translate(-20px, -40px); 
}


.menu {
    display: grid;
    grid-template-rows: repeat(4, 11.2px);
    grid-template-columns: repeat(4, 11.2px);
    position: absolute;
    right: 20px;
    z-index: 10;
    row-gap: 5px;
    column-gap: 5px;
    background-color: var(--secondary-color-light);
    border: none;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
}

/* .menu:focus {
    outline-offset: 5px;
    outline: 2px solid var(--secondary-color-light);
} */

.menu:hover {
    cursor: pointer;
    scale: 1.1;
}

.menu span {
    display: block;
    background: var(--main-color-normal);
    height: 11.2px;
    width: 11.2px;
    border-radius: 100%;
    cursor: pointer;
}

.menu span:nth-of-type(1)  {
    grid-column: 2/3;
    grid-row: 2/3;
}

.menu span:nth-of-type(2)  {
    grid-column: 3/4;
    grid-row: 2/3;
}

.menu span:nth-of-type(3)  {
    grid-column: 2/3;
    grid-row: 3/4;
}

.menu span:nth-of-type(4)  {
    grid-column: 3/4;
    grid-row: 3/4;
}

.menu-open .menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-open .menu span {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.menu-open .menu span:nth-of-type(1) {
    z-index: 4;
}

.menu-open .menu span:nth-of-type(2) {
    z-index: 3;
}

.menu-open .menu span:nth-of-type(3) {
    z-index: 2;
}

.menu-open .menu span:nth-of-type(4) {
    z-index: 1;
}