header {
    position: fixed;
    height: 4.5rem;
    width: 4.5rem;
    z-index: 10; 
    right: 20px;
    top: 20px;
    padding-inline: 20px;
    padding-block: 20px;
    background-color:var(--main-color-normal);
    border: 3px solid var(--main-color-normal);
    border-radius: 50px;
    /* transition: all 0.3s ease; */
}

.menu-open header {
    width: 10rem;
    height: 10rem;
}

header nav ul {
    display: grid;
}

.nav-open ul {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 10rem;
    height: 10rem;
}

header li {
    list-style: none;
    color: var(--main-color-normal);
    background: var(--secondary-color-light);
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    transition: transform 0.3s ease; 
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color-normal);
    font-size: 16px;
    letter-spacing: -0.5px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

header nav li {
    grid-row: 1/2;
    grid-column: 1/2;
}

.nav-open li:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: 1/2;
}

.nav-open li:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 1/2;
}

.nav-open li:nth-of-type(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}


.menu {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    right: 20px;
    z-index: 10;
    row-gap: 5px;
    column-gap: 5px;
    background-color: var(--secondary-color-light);
    border: none;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}

/* .menu:focus {
    outline-offset: 5px;
    outline: 2px solid var(--secondary-color-light);
} */

.menu:hover {
    cursor: pointer;
}

.menu span {
    display: block;
    background: var(--main-color-normal);
    height: 16px;
    width: 16px;
    border-radius: 100%;
    cursor: pointer;
}

.menu span:nth-of-type(1)  {
    grid-column: 2/3;
    grid-row: 2/3;
}

.menu span:nth-of-type(2)  {
    grid-column: 3/4;
    grid-row: 2/3;
}

.menu span:nth-of-type(3)  {
    grid-column: 2/3;
    grid-row: 3/4;
}

.menu span:nth-of-type(4)  {
    grid-column: 3/4;
    grid-row: 3/4;
}

.menu-open .menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-open .menu span {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
}



