/* styling horizontal scroll */


.horizontal-scroll-sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    padding-top: 160px;
}

.article-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 10px solid var(--secondary-color-light);
}

.info-me {
    position: relative;
    background-color: var(--secondary-color-light);
}

#foto-kyan {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: contain;
}

#article-kyan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: auto 1em 0em;
    height: 100px;
    width: 265px;
    background-color: var(--secondary-color-light);
    border-radius: 0px 0px 250px 250px;
}

.header-article, .subheader-article {
    color: var(--main-color-normal);
}

.header-article {
    font-size: 1.5rem;
}

.subheader-article {
    font-size: 1.25rem;
}

.article-tekst {
    color: var(--secondary-color-light);
    max-width: 220px;
    max-height: 240px;
    font-size: 0.8rem;
}

.article-tekst {
    color: var(--secondary-color-light);
    max-width: 220px;
    max-height: 240px;
    font-size: 0.8rem;
}

.article-portfolio-tekst {
    margin-top: 1rem;
    max-width: 170px;
}

#article-portfolio-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    color: var(--secondary-color-light);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    font-size: 1rem;
    transition: scale 0.2s ease-out;
}

#article-portfolio-link:hover {
    scale: 1.1;
}
