/* styling horizontal scroll */


.horizontal-scroll-sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    padding-top: 160px;
}

.article-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 275px;
    height: 275px;
    padding: 0.5rem;
    border-radius: 100%;
    border: 5px solid var(--secondary-color-light);
}

.info-me {
    position: relative;
    background-color: var(--secondary-color-light);
}

#foto-kyan {
    width: 275px;
    height: 275px;
    border-radius: 100%;
    object-fit: contain;
}

#article-kyan {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    inset: auto 2.6em 0em;
    height: 80px;
    width: 210px;
    background-color: var(--secondary-color-light);
    border-radius: 0px 0px 250px 250px;
}

.header-article {
    color: var(--main-color-normal);
    margin-top: 0.25rem;    
}

.header-article {
    font-size: 1.4rem;
}

.article-tekst {
    color: var(--secondary-color-light);
    max-width: 200px;
    font-size: 0.9rem;
    margin-left: 1rem;
}

.article-portfolio-tekst {
    font-size: 1rem;
    margin-left: 0;
    margin-top: 1rem;
    max-width: 170px;
}

#article-portfolio-link {
    font-weight: 700;
    margin-top: 1rem;
    color: var(--secondary-color-light);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    font-size: 1rem;
    transition: scale 0.2s ease-out;
}

#article-portfolio-link:hover {
    scale: 1.1;
}
