body {
    --main-color-normal: #051C55;
    --main-color-light: #14128e;
    --secondary-color-light: #fa921c;
    --secondary-color-normal: #e76900;
    --secondary-color-dark: #d05100;
    --white: #ffffff;
    --main-font-regular: "Poppins", arial;
} 

h1 {
    font-family: var(--main-font-regular);
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-family: var(--main-font-regular) ;
    font-weight: 700;
}

h3 {
    font-family: var(--main-font-regular);
    font-weight: 500;
}

p {
    font-family: var(--main-font-regular);
    font-size: 2vw;

    @media ( min-width:640px ) {
        font-size: 1.5vw;
    }
}

a {
    font-family: var(--main-font-regular);
    /* font-size: 16px;  */
}

.styled-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    font-family: var(--main-font-regular);
    text-transform: uppercase;
    font-size: 2vw;
    padding: 1vw;
    border: 0.5vw solid var(--secondary-color-light);
    background-color: var(--main-color-normal);
    color: var(--secondary-color-light);
    border-radius: 100px;

    @media ( min-width: 640px ) {
        font-size: 1.5vw;
    }

    @media ( min-width: 960px ) {
        font-size: 1vw;
    }

    div {
        background-color: var(--secondary-color-light);
        height: 2vw;
        width: 2vw;
        border-radius: 25px;

        @media ( min-width: 640px ) {
            height: 1.5vw;
            width: 1.5vw;
        }
    
        @media ( min-width: 960px ) {
            height: 1vw;
            width: 1vw;
        }
    }
}


.styled-btn:hover {

    div {
        animation: bounce 2s ease infinite;
    }
}

@keyframes bounce {
    0% { transform:translateY(0%); }
    10% { transform:translateY(-30%); }
    20% { transform:translateY(0%); }
    35% { transform:translateY(-14%); }
    37% { transform:translateY(0%); }
    39% { transform:translateY(-6%); }
    40% { transform:translateY(0); }
}

