 
html {
    overflow-x: hidden;

    * {
        margin: 0;
        padding: 0; }}

body  {
    padding-inline: 2vw;
    height: 200vh;
}


.personal {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--main-color-normal);
    padding-bottom: 20rem;
    padding-top: 8rem;
}


.information {
    background-color: var(--main-color-normal);
    padding-top: 10vw;
    padding-bottom: 300px;

    article:nth-of-type(1) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 70vw;
        height: 35vw;
        border: 1vw solid var(--secondary-color-light); 
        border-left: 0px;
        border-radius: 0px 600px 600px 0px;
        margin-bottom: 20vw;
        margin-left: -3.2%;
        animation: shoot-in-left linear;
        animation-timeline: view();
        animation-range: entry 0;

        h2 {
            margin-left: 2vw;
            margin-bottom: 1vw;
            color: var(--secondary-color-light);
        }

        p {
            margin-left: 2vw;
            max-width: 60vw;
            color: var(--secondary-color-light);

            u {
                text-underline-offset: 0.6vw;
            }
        }
    }

    article:nth-of-type(2) {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 70vw;
        height: 35vw;
        border: 1vw solid var(--secondary-color-light); 
        border-right: 0px;
        margin-left: 28.2%;
        border-radius: 600px 0px 0px 600px;
        animation: shoot-in-right linear;
        animation-timeline: view();
        animation-range: entry 0;
        margin-top: 150px;
        
        h2 {
            margin-right: 2vw;
            margin-bottom: 1vw;
            color: var(--secondary-color-light);
        }

        p {
            text-align: end;
            margin-right: 2vw;
            max-width: 60vw;
            color: var(--secondary-color-light);
        }
    }

    article:nth-of-type(3) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 70vw;
        height: 35vw;
        border: 1vw solid var(--secondary-color-light); 
        border-left: 0px;
        border-radius: 0px 600px 600px 0px;
        margin-bottom: 20vw;
        margin-left: -3.2%;
        animation: shoot-in-left linear;
        animation-timeline: view();
        animation-range: entry 0;
        margin-top: 150px;


        h2 {
            margin-left: 2vw;
            margin-bottom: 1vw;
            color: var(--secondary-color-light);
        }

        p {
            margin-left: 2vw;
            max-width: 60vw;
            color: var(--secondary-color-light);

            u {
                text-underline-offset: 0.6vw;
            }
        }
    }
} 

 .top {
    padding-top: 10vw;
    padding-bottom: 30vw;
}

@keyframes shoot-in-left {
    from { margin-left: -100%;}
    to { margin-left: -2%}
}

@keyframes shoot-in-right {
    from { margin-left: 100%; }
    to { margin-left: 27.6%; }
} 

footer {
    display: flex;
    column-gap: 1vw;
    background-color: var(--main-color-normal);
    padding-bottom: 1000px;
}

footer a:hover {
    scale: 1.1;
    transition: 0.2s ease;
}

footer img {
    width: 6vw;
    height: 6vw;
    border-radius: 50px;
    border: 5px solid var(--secondary-color-light);
}



    