h1 {
    display: block;
    border-right: 2px solid var(--secondary-color-light); 
    color: var(--secondary-color-light);
    overflow: hidden; 
    white-space: nowrap; 
}

h2 {
    display: block;
    width: 0;
    border-right: 0.1vw solid var(--secondary-color-light);
    color: var(--secondary-color-light);
    overflow: hidden;
    white-space: nowrap;
}

/* Homepage */

#home-typer {
    animation: typing-home 1s steps(15) forwards;
}

#home-typer-h2 {
    animation: typing-home-two 3s steps(37) forwards;
    animation-delay: 1s;
}

@keyframes typing-home {
    from { width: 0; }
    to { width: 87.5%; }
}

@keyframes typing-home-two {
    from { width: 0; }
    to { width: 76%; }
}

#home-typer.done, #home-typer-h2.done {
    animation: none; 
    border: none; 
}

#home-typer-h2.done {
    width: 76%;
}

#home-typer.done {
    width: 87.5%;
}

/* portfolio page */

#portfolio-typewriter {
    animation: typing-portfolio 0.66s steps(10);
}

@keyframes typing-portfolio {
    from {width: 0%;}
    to {width: 59%;}
}

#portfolio-typewriter.done {
    animation: none; 
    border: none; 
    width: 59%;
}