 
html {
    height: 100vh;
    overflow-x: hidden;

    * {
        margin: 0;
        padding: 0; }}

body  {
    padding-inline: 2vw;
}


.personal {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--main-color-normal);
    padding-bottom: 20em;
}

#home-typer {
    display: inline-block;
    color: var(--secondary-color-light);
    overflow: hidden; /* Ensures text doesn't overflow */
    white-space: nowrap; /* Keeps text on a single line */
    border-right: 2px solid var(--secondary-color-light); /* Simulates the cursor */
    animation: typing 1s steps(13) forwards;
}


#home-typer-h2 {
    display: flex;
    width: 0;
    border-right: 0.1vw solid var(--secondary-color-light);
    color: var(--secondary-color-light);
    animation: typing-two 3s steps(37) forwards;
    animation-delay: 1s;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
}

@keyframes typing {
    from { width: 0; }
    to { width: 87.5%; }
}

@keyframes typing-two {
    from { width: 0; }
    to { width: 76%; }
}

#home-typer.done, #home-typer-h2.done {
    animation: none; /* Stops all animations */
    border: none; /* Removes the cursor */
}

#home-typer-h2.done {
    width: 76%;
}

#home-typer.done {
    width: 87.5%;
}

.information {
    background-color: var(--main-color-normal);
    padding-top: 10vw;
    padding-bottom: 300px;

    div:nth-of-type(1) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 70vw;
        height: 35vw;
        border: 1vw solid var(--secondary-color-light); 
        border-left: 0px;
        border-radius: 0px 600px 600px 0px;
        margin-bottom: 20vw;
        margin-left: -3.2%;
        animation: shoot-in-left linear;
        animation-timeline: view();
        animation-range: entry 0;

        h2 {
            margin-left: 2vw;
            margin-bottom: 1vw;
            color: var(--secondary-color-light);
        }

        p {
            margin-left: 2vw;
            max-width: 60vw;
            color: var(--secondary-color-light);

            u {
                text-underline-offset: 0.6vw;
            }
        }
    }

    div:nth-of-type(2) {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 70vw;
        height: 35vw;
        border: 1vw solid var(--secondary-color-light); 
        border-right: 0px;
        margin-left: 28.2%;
        border-radius: 600px 0px 0px 600px;
        animation: shoot-in-right linear;
        animation-timeline: view();
        animation-range: entry 0;
        margin-top: 150px;
        
        h2 {
            margin-right: 2vw;
            margin-bottom: 1vw;
            color: var(--secondary-color-light);
        }

        p {
            text-align: end;
            margin-right: 2vw;
            max-width: 60vw;
            color: var(--secondary-color-light);
        }
    }
}

.top {
    padding-top: 10vw;
    padding-bottom: 30vw;
}

@keyframes shoot-in-left {
    from { margin-left: -100%;}
    to { margin-left: -2%}
}

@keyframes shoot-in-right {
    from { margin-left: 100%; }
    to { margin-left: 27.6%; }
}

footer {
    display: flex;
    column-gap: 1vw;
    background-color: var(--main-color-normal);
    padding-bottom: 1000px;

    a:hover {
        scale: 1.1;
        transition: 0.2s ease;
    }

    img {
        width: 6vw;
        height: 6vw;
    }
}
    