body {
    --main-color-normal: #051C55;
    --main-color-light: #14128e;
    --secondary-color-light: #fa921c;
    --secondary-color-normal: #e76900;
    --secondary-color-dark: #d05100;
 
    --main-font-regular: "Poppins"
} 

h1 {
    font-family: var(--main-font-regular);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 9vw;
}

h2 {
    font-family: var(--main-font-regular) ;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3vw;
}

h3 {
    font-family: var(--main-font-regular);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;

    @media ( min-width: 640px ) {
        font-size: 24px;
    }

    @media ( min-width: 960px ) {
        font-size: 32px ;
    }
}

a {
    font-family: var(--main-font-regular);
    font-size: 16px;
}